<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Admin | Domaci</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="/go-back"><=Go Back</a>
        <h1>Admin Page</h1>

        <form class="forma" action="/new-phone" method="post">
            <h4>Naziv</h4>
            <input type = "text" name="name" required>
            <h4>Opis</h4>
            <input type = "text" name="review" required>
            <h4>Video</h4>
            <input type = "text" name="video" required>
            <h4>Displej</h4>
            <textarea name="displej"></textarea>
            <h4>Platforma</h4>
            <textarea name="platforma"></textarea>
            <h4>Memorija</h4>
            <textarea name="memorija"></textarea>            
            <h4>Kamera</h4>
            <textarea name="kamera"></textarea>            
            <h4>Baterija</h4>
            <textarea name="baterija"></textarea>            
            <br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>